body{
    font-family: Arial, sans-serif;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.faq-title {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.faq-item { margin-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.faq-question {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}

.faq-question:focus {
    outline: none;
}



.faq-answer { 
    padding: 10px;
    font-size: 1rem;
    color: #555;
    display: none; 
}

.faq-question.active + .faq-answer { display: block; } /* Show answer when question is active */
